custom-raw-request.json
[{"id":"0236fbce6812805d","type":"tab","label":"Custom Raw Request","disabled":false,"info":"","env":[]},{"id":"2143106fa5f42c2e","type":"junction","z":"0236fbce6812805d","x":1100,"y":180,"wires":[["1ec9a21e915abf30"]]},{"id":"0cd5c2d02cd807e2","type":"function","z":"0236fbce6812805d","name":"build-command","func":"/* \n    Custom Raw Request command\n    [0xF4,0x4F,0x00,0x00,0x00,0x54,0x01,ODR,Sample Duration]--> type 110, 112 or 114\n    [0xF4,0x4F,0x00,0x00,0x00,0x54,0x01,ODR,Sample Duration]--> type 111 probe one\n    [0xF4,0x4F,0x00,0x00,0x00,0x54,0x02,ODR,Sample Duration]--> type 111 probe two\n    [0xF4,0x4F,0x00,0x00,0x00,0x54,0xFF,ODR,Sample Duration]--> type 111 probe one and two\n\n    Sample Rate (ODR)\n    0x07 -- 400sps(Range 6.25 – 100 Hz)\n    0x08 -- 800sps(Range 12.5 – 200 Hz)\n    0x09 -- 1600sps(Range 25 – 400 Hz)\n    0x0A -- 3200sps(Range 50 – 800 Hz)\n    0x0B -- 6400sps(Range 100 – 1600 Hz)\n    0x0C -- 12800sps(Range 200 – 3200 Hz)\n    0x0D -- 25600sps(Range 400 – 6400 Hz)\n\n    Sample Duration\n    Valid Range: \n    0x01 -- 0x64\n*/\n\nmsg.payload.address = msg.payload.addr;\nmsg.payload.data = [0xF4, 0x4F, 0x00, 0x00, 0x00, 0x54, 0x01, 0x07, 0x01];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":100,"wires":[["bb34fc40dc4e44ff"]]},{"id":"cc6d04fd44e5fd01","type":"switch","z":"0236fbce6812805d","name":"type","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":220,"wires":[["010e6f827a29cfae"]]},{"id":"bb34fc40dc4e44ff","type":"delay","z":"0236fbce6812805d","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1435,"y":100,"wires":[["414fc83324bbd834"]],"l":false},{"id":"5d479bf75396441b","type":"debug","z":"0236fbce6812805d","name":"Processed Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":140,"wires":[]},{"id":"a0cf22d1d59f0ffc","type":"ncd-gateway-node","z":"0236fbce6812805d","name":"","connection":"","unknown_devices":0,"outputs":1,"x":210,"y":220,"wires":[["276092d76ac98660","6b2054ea17967437"]]},{"id":"276092d76ac98660","type":"switch","z":"0236fbce6812805d","name":"sensor-data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":220,"wires":[["cc6d04fd44e5fd01"]]},{"id":"010e6f827a29cfae","type":"switch","z":"0236fbce6812805d","name":"mac","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:42:53:64:53","vt":"str"},{"t":"eq","v":"00:13:a2:00:42:53:64:54","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":220,"wires":[["737da6725a28c9c3"],[]]},{"id":"6adf34e24d8095ff","type":"switch","z":"0236fbce6812805d","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":140,"wires":[["0cd5c2d02cd807e2","5d479bf75396441b"]]},{"id":"737da6725a28c9c3","type":"switch","z":"0236fbce6812805d","name":"mode","property":"payload.sensor_data.mode","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":160,"wires":[["6adf34e24d8095ff"],["2143106fa5f42c2e"]]},{"id":"43dd65a169719347","type":"link in","z":"0236fbce6812805d","name":"link in 4","links":["414fc83324bbd834"],"x":65,"y":220,"wires":[["a0cf22d1d59f0ffc"]]},{"id":"1ec9a21e915abf30","type":"debug","z":"0236fbce6812805d","name":"Time Domain Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":180,"wires":[]},{"id":"414fc83324bbd834","type":"link out","z":"0236fbce6812805d","name":"link out 25","mode":"link","links":["43dd65a169719347"],"x":1485,"y":100,"wires":[]},{"id":"4e873528071cf23a","type":"comment","z":"0236fbce6812805d","name":"To wireless Gateway node","info":"","x":1390,"y":60,"wires":[]},{"id":"6b2054ea17967437","type":"debug","z":"0236fbce6812805d","name":"All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":180,"wires":[]}]
