regular-raw-request.json
[{"id":"303f687acf8e88f6","type":"tab","label":"Regular Raw Request","disabled":false,"info":"","env":[]},{"id":"a8d8ebdc38cfb446","type":"junction","z":"303f687acf8e88f6","x":1440,"y":180,"wires":[["e0a709618261a79a"]]},{"id":"95dc2ab8f65db1e9","type":"function","z":"303f687acf8e88f6","name":"build-command","func":"/* \n    Regular Raw Request command\n    [0xF4,0x4F,0x00,0x00,0x50,0x13,0x01]--> type 110, 112 or 114\n    [0xF4,0x4F,0x00,0x00,0x50,0x13,0x01]--> type 111 probe one\n    [0xF4,0x4F,0x00,0x00,0x50,0x13,0x02]--> type 111 probe two\n    [0xF4,0x4F,0x00,0x00,0x50,0x13,0x03]--> type 111 probe one and two\n*/\nlet addr = msg.payload.addr;\nmsg.payload = {};\nmsg.payload.address = addr;\nmsg.payload.data = [0xF4, 0x4F, 0x00, 0x00, 0x50, 0x13, 0x01];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":100,"wires":[["c74cb74b73a0e358"]]},{"id":"88f9ac6ec0b4c35e","type":"switch","z":"303f687acf8e88f6","name":"type","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":220,"wires":[["dbbf8045faa7c571"]]},{"id":"c74cb74b73a0e358","type":"delay","z":"303f687acf8e88f6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1775,"y":100,"wires":[["5d80fd361b5a2c79"]],"l":false},{"id":"b55f1845e6939eed","type":"debug","z":"303f687acf8e88f6","name":"Processed Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":140,"wires":[]},{"id":"35889a38499f069c","type":"ncd-gateway-node","z":"303f687acf8e88f6","name":"","connection":"","unknown_devices":0,"outputs":1,"x":550,"y":220,"wires":[["0c2e3ce9ddc281f8","7296542b253c615c"]]},{"id":"0c2e3ce9ddc281f8","type":"switch","z":"303f687acf8e88f6","name":"sensor-data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":220,"wires":[["88f9ac6ec0b4c35e"]]},{"id":"dbbf8045faa7c571","type":"switch","z":"303f687acf8e88f6","name":"mac","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:42:53:64:53","vt":"str"},{"t":"eq","v":"00:13:a2:00:42:53:64:54","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":220,"wires":[["3d6d82370cd848c3"],[]]},{"id":"e6f3fb395819c715","type":"switch","z":"303f687acf8e88f6","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1500,"y":140,"wires":[["95dc2ab8f65db1e9","b55f1845e6939eed"]]},{"id":"3d6d82370cd848c3","type":"switch","z":"303f687acf8e88f6","name":"mode","property":"payload.sensor_data.mode","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":160,"wires":[["e6f3fb395819c715"],["a8d8ebdc38cfb446"]]},{"id":"06c0f64a77f30b75","type":"link in","z":"303f687acf8e88f6","name":"link in 2","links":["5d80fd361b5a2c79"],"x":405,"y":220,"wires":[["35889a38499f069c"]]},{"id":"e0a709618261a79a","type":"debug","z":"303f687acf8e88f6","name":"Time Domain Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":180,"wires":[]},{"id":"5d80fd361b5a2c79","type":"link out","z":"303f687acf8e88f6","name":"link out 24","mode":"link","links":["06c0f64a77f30b75"],"x":1825,"y":100,"wires":[]},{"id":"43010e04715d3795","type":"comment","z":"303f687acf8e88f6","name":"To wireless Gateway node","info":"","x":1730,"y":60,"wires":[]},{"id":"7296542b253c615c","type":"debug","z":"303f687acf8e88f6","name":"All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":180,"wires":[]}]
