smart-raw-request.json
[{"id":"6ab739e8b4470117","type":"tab","label":"Smart Raw Request","disabled":false,"info":"","env":[]},{"id":"23daa2b05fe2845b","type":"junction","z":"6ab739e8b4470117","x":1120,"y":200,"wires":[["eb510cf09af91de0"]]},{"id":"dab9777d308b87e3","type":"function","z":"6ab739e8b4470117","name":"build-command","func":"/* \n    Smart Raw Request command\n    [0xF4,0x4F,0x00,0x00,0x65,0x50,0x01]--> type 110, 112 or 114\n    [0xF4,0x4F,0x00,0x00,0x65,0x50,0x01]--> type 111 probe one\n    [0xF4,0x4F,0x00,0x00,0x65,0x50,0x02]--> type 111 probe two\n    [0xF4,0x4F,0x00,0x00,0x65,0x50,0xFF]--> type 111 probe one and two\n*/\n\nmsg.payload.address = msg.payload.addr;\nmsg.payload.data = [0xF4, 0x4F, 0x00, 0x00, 0x65, 0x50, 0x01];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":120,"wires":[["67d075ffe9c99cff"]]},{"id":"c441f61df0b92363","type":"switch","z":"6ab739e8b4470117","name":"type","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":240,"wires":[["2264d0b1b51515f5"]]},{"id":"67d075ffe9c99cff","type":"delay","z":"6ab739e8b4470117","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1455,"y":120,"wires":[["b4262ab05a8de9c3"]],"l":false},{"id":"92b72833e9729aa2","type":"debug","z":"6ab739e8b4470117","name":"Processed Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":160,"wires":[]},{"id":"e05ee7e618c228d0","type":"ncd-gateway-node","z":"6ab739e8b4470117","name":"","connection":"","unknown_devices":0,"outputs":1,"x":230,"y":240,"wires":[["889b4d391aec739d","bd1a4f442feb336b"]]},{"id":"889b4d391aec739d","type":"switch","z":"6ab739e8b4470117","name":"sensor-data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":240,"wires":[["c441f61df0b92363"]]},{"id":"2264d0b1b51515f5","type":"switch","z":"6ab739e8b4470117","name":"mac","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:42:53:64:53","vt":"str"},{"t":"eq","v":"00:13:a2:00:42:53:64:54","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":240,"wires":[["4a9132f112b783ab"],[]]},{"id":"fef30c94bfe83011","type":"switch","z":"6ab739e8b4470117","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":160,"wires":[["dab9777d308b87e3","92b72833e9729aa2"]]},{"id":"4a9132f112b783ab","type":"switch","z":"6ab739e8b4470117","name":"mode","property":"payload.sensor_data.mode","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":180,"wires":[["fef30c94bfe83011"],["23daa2b05fe2845b"]]},{"id":"50e40fc8597a534d","type":"link in","z":"6ab739e8b4470117","name":"link in 5","links":["b4262ab05a8de9c3"],"x":85,"y":240,"wires":[["e05ee7e618c228d0"]]},{"id":"eb510cf09af91de0","type":"debug","z":"6ab739e8b4470117","name":"Time Domain Data 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1420,"y":200,"wires":[]},{"id":"b4262ab05a8de9c3","type":"link out","z":"6ab739e8b4470117","name":"link out 26","mode":"link","links":["50e40fc8597a534d"],"x":1505,"y":120,"wires":[]},{"id":"397f593690301f3c","type":"comment","z":"6ab739e8b4470117","name":"To wireless Gateway node","info":"","x":1410,"y":80,"wires":[]},{"id":"bd1a4f442feb336b","type":"debug","z":"6ab739e8b4470117","name":"All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":200,"wires":[]}]
